@media screen and (width >= 320px) {
	#some-id {
		color: red;
	}
}

@media screen and (width >= 500px) {
	#some-id {
		color: red;
	}
}

img {
	display:block;
	width:100%;
}

#page-title {
	color: blue !important;
  }
  
/* Write a ton of CSS! */
.blue-class {
	color: green !important;
  }

.city-view-image {
	width: 500px;
	height: 300px;
}
.row-one-image {
	width: 500px;
	height: 300px;
}